/.jxbrowser-data
/.metadata
/dvt
/RemoteSystemsTempFiles
/Project1_MQTT_Client/Debug
/Project1_MQTT_Client/.settings
/Project1_MQTT_Client/targetConfigs
/Project1_MQTT_Client/.ccsproject
/Project1_MQTT_Client/.cproject
/Project1_MQTT_Client/.project
